capstone
colorama>=0.4.6
pystache
pydantic==2.13.4
ruamel.yaml
pydemumble==0.0.1
# requirement of capstone due to python dropping distutils.
# see: https://github.com/capstone-engine/capstone/issues/2223
setuptools ; python_version >= "3.12"
pyghidra==2.2.0
