pytest==9.0.3
black==26.3.1
codespell==2.4.2
pylint==4.0.5
mypy==2.0.0
types-colorama>=0.4.15.20260408
# Note: This version should be kept in sync with the docker image in /.github/workflows/unittest-ghidra.yml
ghidra-stubs==12.1
# recommended by pyghidra
java-stubs-converted-strings==0.1.0 ; python_version >= "3.11"
